Repository davitJabushanuri/Chirp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'pnpm type-check'

.lintstagedrc:

{
  "src/**/*.{js,jsx,ts,tsx,json,css,scss,md}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.{ts,tsx}": "bash -c 'pnpm type-check'"
}

chore: add check-types:watch script
  package.json
Due: none

refactor: toast styles
  src/app/layout.tsx
  src/app/styles/toast.module.scss
Due: eslint --fix, prettier --write, bash -c 'pnpm type-check'

chore: update pre-commit config
  .eslintignore
  .lintstagedrc
Due: none

refactor: disable body scroll when confirmation modal is mounted
  src/components/elements/modal/components/confirmation-modal.tsx
Due: eslint --fix, prettier --write, bash -c 'pnpm type-check'

fix: navigate back if the tweet is deleted from the tweet page, add toast notifications on success and error
  src/features/tweets/components/delete-tweet-modal.tsx
  src/features/tweets/hooks/use-delete-tweet.ts
Due: eslint --fix, prettier --write, bash -c 'pnpm type-check'

feat: add toast notification when tweet is created
  src/features/create-tweet/hooks/use-create-tweet.ts
Due: eslint --fix, prettier --write, bash -c 'pnpm type-check'

chore: add react-error-boundary package
  package.json
  pnpm-lock.yaml
Due: none

feat: implement rate limiting for api routes
  package.json
  pnpm-lock.yaml
  src/app/api/blocked/route.ts
  src/middleware.ts
Due: eslint --fix, prettier --write, bash -c 'pnpm type-check'

chore: update .env.example
  .env.example
Due: none

chore: clean up middleware file
  src/middleware.ts
Due: eslint --fix, prettier --write, bash -c 'pnpm type-check'

chore: bump version number to 1.8.0
  package.json
Due: none

feat: add skip links to home timeline and trending landmarks
  src/app/layout.tsx
  src/app/styles/layout.scss
  src/features/aside/components/aside.tsx
  src/features/aside/components/styles/aside.module.scss
Due: eslint --fix, prettier --write, bash -c 'pnpm type-check'

feat(socket-io): initialize Socket.IO client
  .env.local.example
  package.json
  pnpm-lock.yaml
  src/config/index.ts
  src/lib/socket-io.ts
Due: eslint --fix, prettier --write, bash -c 'pnpm type-check'

chore: upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: none

style: remove padding-bottom from messages page
  src/app/messages/[id]/client.tsx
  src/app/styles/layout.scss
Due: eslint --fix, prettier --write, bash -c 'pnpm type-check'

refactor: don't display mobile-tweet-button on messages page
  src/features/create-tweet/components/mobile-tweet-button.tsx
Due: eslint --fix, prettier --write, bash -c 'pnpm type-check'

refactor: update socket-io default config
  src/lib/socket-io.ts
Due: eslint --fix, prettier --write, bash -c 'pnpm type-check'

refactor: replace cuid with cuid2
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/features/create-tweet/api/post-media.ts
  src/features/profile/api/post-image.ts
Due: eslint --fix, prettier --write, bash -c 'pnpm type-check'

chore: update next config
  next.config.js
Due: none

chore: update prisma schema
  prisma/schema.prisma
Due: none

chore: disable rate limiting for realtime testing
  src/middleware.ts
Due: eslint --fix, prettier --write, bash -c 'pnpm type-check'

refactor: update api routes
  src/app/api/messages/chat/route.ts
  src/app/api/messages/conversations/route.ts
  src/app/api/messages/route.ts
Due: eslint --fix, prettier --write, bash -c 'pnpm type-check'

chore: move progress-bar to components folder
  src/app/messages/[id]/client.tsx
  src/components/designs/progressbar/index.ts
  src/components/elements/progress-bar/index.ts
  src/components/elements/progress-bar/progress-bar.tsx
  src/components/elements/progress-bar/styles/progressbar.module.scss
Due: eslint --fix, prettier --write, bash -c 'pnpm type-check'

chore: delete unnecessary files
  src/features/messages/api/create-message.ts
  src/features/messages/api/get-media.ts
  src/features/messages/hooks/use-create-message.ts
  src/features/messages/hooks/use-get-media.ts
Due: eslint --fix, prettier --write, bash -c 'pnpm type-check'

chore: rename files
  src/features/messages/api/get-chat.ts
  src/features/messages/components/chat.tsx
  src/features/messages/components/messages.tsx
  src/features/messages/components/styles/conversation.module.scss
  src/features/messages/components/styles/messages.module.scss
  src/features/messages/index.ts
Due: eslint --fix, prettier --write, bash -c 'pnpm type-check'

feat: enable realtime to messages
  src/features/messages/components/conversation.tsx
Due: eslint --fix, prettier --write, bash -c 'pnpm type-check'

feat: send messages in realtime
  src/features/messages/components/conversations.tsx
  src/features/messages/components/message-input.tsx
Due: eslint --fix, prettier --write, bash -c 'pnpm type-check'

refactor: update message component
  src/features/messages/components/message.tsx
Due: eslint --fix, prettier --write, bash -c 'pnpm type-check'

style: update chat and message input styles
  src/features/messages/components/styles/chat.module.scss
  src/features/messages/components/styles/message-input.module.scss
  src/features/messages/components/styles/message.module.scss
Due: eslint --fix, prettier --write

chore: hide mobile navbar on messages route
  src/features/navbar/components/mobile-navbar.tsx
Due: eslint --fix, prettier --write, bash -c 'pnpm type-check'

chore: declare socket emit types
  src/features/messages/types/index.ts
  src/features/search/components/no-results.tsx
  src/features/search/components/search-results-modal.tsx
Due: eslint --fix, prettier --write, bash -c 'pnpm type-check'

chore: update react query hooks
  src/features/messages/hooks/use-get-chat.ts
  src/features/messages/hooks/use-get-conversation.ts
  src/features/messages/hooks/use-get-conversations.ts
Due: eslint --fix, prettier --write, bash -c 'pnpm type-check'

feat: create use-socket-event hook to receive messages and status updates realtime
  src/features/messages/hooks/use-socket-events.ts
Due: eslint --fix, prettier --write, bash -c 'pnpm type-check'

chore: fix types
  src/features/messages/components/conversation-card.tsx
  src/features/messages/types/index.ts
Due: eslint --fix, prettier --write, bash -c 'pnpm type-check'

feat: add conversation member details to the conversation header
  src/features/messages/components/conversation-header.tsx
  src/features/messages/components/conversation.tsx
  src/features/messages/components/styles/conversation-header.module.scss
Due: eslint --fix, prettier --write, bash -c 'pnpm type-check'

chore: install tailwindcss
  package.json
  pnpm-lock.yaml
  postcss.config.js
  tailwind.config.js
Due: none

chore: add tailwindcss plugin
  .prettierrc
Due: none

feat: create cn utility function for tailwind
  src/utils/cn.ts
Due: eslint --fix, prettier --write, bash -c 'pnpm type-check'

feat: configure tailwind, add custom styles
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/app/styles/tailwind.css
  tailwind.config.js
Due: eslint --fix, prettier --write
